<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Demande</title>
</head>
<body>

<form  th:action="@{/Demande/echange}"  method="post" th:object="${mail}" >
    <div><label> entrer  email du client avec qui vous voulez faire echange </label></div>
    <div><input type="text" th:field="*{email}"/></div>
    <button type="submit" >Envoyer demande echange</button>
</form>


</body>
</html>